{{email-input email=credentials.email}}
{{password-input password=credentials.password}}

<button type="submit" {{action "submit"}}>
  Sign In
</button>

<button {{action "reset"}}>
  Cancel
</button>
