@import 'bootstrap';
@import 'bootstrap/theme';
@import url(https://use.fontawesome.com/e2e98f39a3.css);
@import url(https://fonts.googleapis.com/css?family=Raleway|Megrim);

@import 'variables';
@import 'template';
@import 'nav';
@import 'auth';

@import 'project-card';
@import 'generate';

.store-pattern {
  display: none;
}

.project-notes {
  white-space: pre-wrap;
}

.pattern-svg {
  svg {
    height: 100%;
    width: 100%;
  }
}

.welcome {
  background: url('img/quiltr-cover.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

