.generate-meta {
  background: $lightgray;
  border-radius: 4px;
  line-height: $fontsize;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.generate-form {

  label {
    text-transform: uppercase;
    font-weight: normal;
  }

  .btn-group {
    margin-bottom: 30px;
  }

  input[type=submit]:hover {
    background: $teal;
    color: $white;
  }
}

.quiltr-btn {
  background-image: none;
  text-shadow: none;
}

.green .quiltr-btn {

  &.active,
  &.active:hover {
    background-color: $green;
    color: $white;

    &.focus {
      background-color: $green;
      color: $white;
    }
  }
}

.yellow .quiltr-btn {

  &.active,
  &.active:hover {
    background-color: $yellow;
    color: $white;

    &.focus {
      background-color: $yellow;
      color: $white;
    }
  }
}

.papaya .quiltr-btn {

  &.active,
  &.active:hover {
    background-color: $papaya;
    color: $white;

    &.focus {
      background-color: $papaya;
      color: $white;
    }
  }
}

.canvas-container {
  width: 80%;
  margin: 0 auto;
}

.store-pattern {
  display: none;
  margin-top: 20px;
}