nav {
  border-bottom: 1px solid $lightgray;
  height: 60px;
  padding: 0 0 0 5px;
  background: $transparentblack;
  color: $white;

  &.welcome-nav {
    background: $hotpink;
  }

  a,
  a:hover,
  a:focus {
    color: $white;
  }
}

.nav {
  &>li {
    &>a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    &>a:hover,
    &>a:focus {
      background-color: $white;
      color: $black;
    }
  }
}

.navbar-brand,
.navbar-nav {
  &>li {
    &>a {
      text-shadow: none;
    }
  }
}

.navbar-brand {
  font-family: 'Megrim';
  text-shadow: none;
  padding: 12px 15px 12px 0;
  font-size: 36px;

  img {
    width: 36px;
    height: 36px;
    display: inline-block;
  }
}

.icon-bar {
  background: $mediumgray;
}

.navbar-toggle {
  margin-right: 0;
}