nav {
  background: $green;
  color: $white;
  height: 60px;
  padding: 0 0 0 5px;
  position: relative;
  z-index: 1000;

  a,
  a:hover,
  a:focus {
    color: $white;
  }

  .active {
    background: $white;
    color: $green;
  }

  .navbar-brand.active {
    background: transparent;
    color: $white;
  }

  .dropdown-toggle,
  .dropdown-toggle:focus,
  .dropdown-toggle:hover {
    background-color: none;
    border-color: none;
  }
}

.dropdown-menu {
  .username {
    color: $green;
    padding: 3px 20px;
    text-transform: uppercase;

  }
}

.navbar-collapse {
  border-top: 0;
  box-shadow: none;
  background: $green;
  margin-left: -15px;
}

.nav {
  >li {
    >a {
      padding-bottom: 20px;
      padding-top: 20px;
    }

    >a:hover,
    >a:focus {
      background-color: $white;
      color: $green;
    }
  }
}



.navbar-right {
  >li {
    >a {
      padding-bottom: 20px;
      padding-top: 20px;
    }
    
    >a:hover,
    >a:focus {
      background-color: none;
      color: $black;
    }
  }
}


.navbar-brand,
.navbar-nav {
  >li {
    >a {
      text-shadow: none;
    }
  }
}

.navbar-brand {
  font-family: $brandfont;
  font-size: 36px;
  padding: 12px 15px 12px 0;
  text-shadow: none;

  img {
    display: inline-block;
    height: 36px;
    width: 36px;
  }
}

.icon-bar {
  background: $mediumgray;
}

.navbar-toggle {
  margin-right: 0;
}
