.project-card {
  background: $lightgray;
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 10px;
}

.card-missing-image {
  color: $darkgray;
  font-size: 150px;
  line-height: 200px;
  vertical-align: center;
}

.card-square-image {
  height: 200px;
  line-height: 200px;
  margin: 0 auto 10px;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.card-caption {
  background: $white;
  display: table;
  height: 6 * $fontsize;
  padding: 10px;
  width: 100%;

  // vertical centering of text
  // http://vanseodesign.com/css/vertical-centering/
  p {
    display: table-cell;
    vertical-align: middle;
  }
}
