.project-card {
  background: $lightgray;
  margin-bottom: 15px;
  padding: 10px;
}

.project-card-photo {
  // applied to single photo upload image inside of .project-card
}

.card-missing-image {
  color: #666;
  font-size: 150px;
  vertical-align: center;
  line-height: 200px;
}

.card-square-image {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 200px;
  line-height: 200px;
  overflow: hidden;
  margin-bottom: 10px;
}

.card-caption {
  height: 4 * $fontsize;
  display: table;
  background: $white;
  width: 100%;
  padding: 10px;

  // vertical centering of text
  // http://vanseodesign.com/css/vertical-centering/
  p {
    display: table-cell;
    vertical-align: middle;
  }
}

// responsive square div
// https://spin.atomicobject.com/2015/07/14/css-responsive-square/
// .card-square-image:after {
//   content: "";
//   display: block;
//   padding-bottom: 100%;
// }


