body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Megrim', sans-serif;
}

.is-favorite {
  color: $hotpink;
}

.fa-heart-o:hover:before {
  color: $hotpink;
}