body {
  font-family: $bodyfont, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bodyfont, sans-serif;
  // font-variant: small-caps;
  // padding-bottom: 20px;
}

.main {
  a {
    color: $green;

    &:hover {
      text-decoration: underline;
    }
  }
}

.is-favorite {
  color: $hotpink;
}

.fa-heart-o:hover:before {
  color: $hotpink;
}

.faq{
  width: 50%;
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.welcome {
  background: url('img/quiltr-cover.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}