$lightgray: #e3e3e3;
$mediumgray: #ddd;
$darkgray: #999;
$white: #fff;
$black: #000;
$transparentwhite: rgba(255, 255, 255, .5);
$transparentblack: rgba(0, 0, 0, .5);
$fontcolor: #333;

$hotpink: #f51d83;

$aqua: rgb(5,131,156);

$fontsize: 16px;
