$lightgray: #e3e3e3;
$mediumgray: #ddd;
$darkgray: #999;
$white: #fff;
$black: #000;
$hotpink: #f51d83;
$green: #00996a;
$yellow: #e9b000;
$papaya: #e86e80;
$teal: rgba(52,194,182,1);
$orange: #e24e42;
$red: red;

$fontcolor: #333;

$transparentwhite: rgba($white, .5);
$transparentblack: rgba($black, .5);
$transparentgreen: rgba($green, .5);





$fontsize: 16px;
$brandfont: 'Pacifico';
$bodyfont: 'Quicksand';
