<div id="app-wrapper">
  {{nav-bar signOut='signOut'}}

  <div class="container-fluid">
    {{#each flashMessages.queue as |flash|}}
      {{flash-message flash=flash}}
    {{/each}}

    {{outlet}}

  </div>
</div>

