<h1>Create new project</h1>

<h2>New project</h2>

{{project-form storeNewProject='storeNewProject' pattern=model}}

<h2>Pattern</h2>
{{pattern-card pattern=model toggleFavorite='toggleFavorite' createNewProject='createNewProject'}}
