<div class="col-md-9">
  <h2>New project</h2>

  {{project-form storeNewProject='storeNewProject' pattern=model}}
</div>

<div class="col-md-3">
  <h2>Pattern</h2>
  {{pattern-card pattern=model}}
</div>
