<div class="container-fluid">
  <div class="row home-page-row">
    <div class="col-md-6 home-page">
      <div class="create-pattern home-prompt">
        <div class="home-prompt-img">
          {{#link-to 'generate'}}<img src="assets/img/create-pattern.png" alt="Create a pattern">{{/link-to}}
        </div>
        <h1>Create a pattern</h1>
      </div>
    </div>
    <div class="col-md-6 home-page">
      <div class="explore-gallery home-prompt">
        <div class="home-prompt-img">
          {{#link-to 'projects'}}<img src="assets/img/project.png" alt="Explore the project gallery">{{/link-to}}
        </div>
        <h1>Explore projects</h1>
      </div>
    </div>
  </div>
</div>
