<div>
  {{#link-to 'pattern' pattern}}
  <div class="pattern-svg">
    {{{pattern.svg}}}
  </div>
  {{/link-to}}
</div>

{{favorite-button pattern=pattern favorite=pattern.currentUserFavorite}} 

{{make-button pattern=pattern}}
