<div style="width: 200px;">{{#link-to 'pattern' pattern}}{{pattern-canvas pattern=pattern}}{{/link-to}}</div>

{{favorite-button pattern=pattern toggleFavorite='toggleFavorite'}} 

{{make-button pattern=pattern createNewProject='createNewProject'}}
