<nav>
  {{navbar-header}}

  <div class="collapse navbar-collapse" id="navigation">
    <ul class="nav navbar-nav">
      <li>{{#link-to 'patterns'}}Gallery{{/link-to}}</li>
      <li>{{#link-to 'generate'}}Generate{{/link-to}}</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {{#if isAuthenticated}}
        <li>{{#link-to "change-password"}}Change Password{{/link-to}}</li>
        <li><a href="#" {{action "signOut"}}>Sign Out</a></li>
      {{else}}
        <li>{{#link-to "sign-up"}}Sign Up{{/link-to}}</li>
        <li>{{#link-to "sign-in"}}Sign In{{/link-to}}</li>
      {{/if}}
    </ul>
  </div>
</nav>