{{#if isAuthenticated}}
  <div class="generate-meta store-pattern">
    <p>Like this pattern? Go ahead and show it some love.</p>
    <p><i class="fa fa-heart-o" aria-hidden="true" {{ action 'storeAndFavoritePattern'}}></i></p>
  </div>
{{/if}}