<div class="form-group">
  <label for="previous">Old Password</label>
  {{input type="password"
          class="form-control"
          id="previous"
          placeholder="Old password"
          value=passwords.previous}}
</div>

<div class="form-group">
  <label for="next">New Password</label>
  {{input type="password"
          class="form-control"
          id="next"
          placeholder="New password"
          value=passwords.next}}
</div>

<button type="submit" class="btn" {{action "submit"}}>
  Change Password
</button>

<button class="btn" {{action "reset"}}>
  Cancel
</button>
