<div class="col-md-6">
  <h1>Create a Pattern</h1>
    {{sign-in-prompt}}
  <form class="generate-form" {{ action 'generatePattern' on='submit'}}>
    <label for="quiltsize">Quilt Size</label>
    <p>How big do you want your quilt to be? For precise dimensions, see the {{#link-to 'faq'}}FAQ{{/link-to}}.</p>
    <div>
      <div class="btn-group green" role="group" data-toggle="buttons">
        <label class="btn btn-default quiltr-btn active">
          <input type="radio" name="quiltSize" value="lap" checked>
          Lap
        </label>
        <label class="btn btn-default quiltr-btn ">
          <input type="radio" name="quiltSize" value="baby">
          Baby
        </label>
        <label class="btn btn-default quiltr-btn ">
          <input type="radio" name="quiltSize" value="twin">
          Twin
        </label>
        <label class="btn btn-default quiltr-btn">
          <input type="radio" name="quiltSize" value="full">
          Full
        </label>
        <label class="btn btn-default quiltr-btn">
          <input type="radio" name="quiltSize" value="queen">
          Queen
        </label>
        <label class="btn btn-default quiltr-btn">
          <input type="radio" name="quiltSize" value="king">
          King
        </label>
      </div>
    </div>

    <label for="colors">Colors</label>
    <p>How many colors would you like? All quilts have a white background color by default.</p>
    <div>
      <div class="btn-group yellow" role="group" data-toggle="buttons">
        <label class="btn btn-default quiltr-btn">
          <input type="radio" name="colors" value="1"> One
        </label>
        <label class="btn btn-default quiltr-btn">
          <input type="radio" name="colors" value="2"> Two
        </label>
        <label class="btn btn-default quiltr-btn active">
            <input type="radio" name="colors" value="3" checked> Three
        </label>
        <label class="btn btn-default quiltr-btn">
            <input type="radio" name="colors" value="4"> Four
        </label>
        <label class="btn btn-default quiltr-btn">
            <input type="radio" name="colors" value="5"> Five
        </label>
      </div>
    </div>

    <label for="blockSize">Block Size</label>
    <p>How big would you like each individual block to be?</p>
    <div>
      <div class="btn-group papaya" role="group" data-toggle="buttons">
        <label class="btn btn-default quiltr-btn">
          <input type="radio" name="blockSize" value="6"> 6"
        </label>
        <label class="btn btn-default quiltr-btn active">
          <input type="radio" name="blockSize" value="12" checked> 12"
        </label>
      </div>
    </div>
    
    <div>
      <input class="btn btn-default quiltr-btn" type="submit" id="submit" value="MAKE SOME MAGIC">
    </div>

  </form>
</div>

<div class="col-md-6 pattern-canvas-container-div-test">

  {{store-pattern storeAndFavoritePattern='storeAndFavoritePattern'}}

  {{pattern-canvas}}

</div>
