<h1>edit project</h1>

{{project-form editProject='editProject' pattern=model.pattern project=model}}

<h2>Pattern</h2>
<p>TODO not accessing SVG here; need to revisit how data is being passed</p>
{{pattern-card pattern=model.pattern}}

