<div class="faq">
  <h1>FAQ</h1>
  <p>
    {{#link-to 'generate'}}Create patterns.{{/link-to}}
    {{#link-to 'projects'}}Make quilts.{{/link-to}}
    {{#link-to 'patterns'}}Be inspired.{{/link-to}}
  </p>

  <h2>Quilt Sizes</h2>
  <p>Lap: 36" x 36"</p>
  <p>Baby: 36" x 60"</p>
  <p>Twin: 72" x 96"</p>
  <p>Double/Full: 84" x 96"</p>
  <p>Queen: 96" x 96" </p>
  <p>King: 108" x 96"</p>

  <h2>Piecing Instructions</h2>

  <div class="text-left">
    <p>All of the quilt patterns in Quiltr are made up of square and half square triangle (HST) blocks.</p>

    <p>Finished block sizes are specified in the pattern. Blocks should be cut 1/2" larger to allow for 1/4" seams. To make HSTs, cut squares 1" larger than the final block size, then follow the second method in <a href="https://www.connectingthreads.com/tutorials/Intro_to_Half_Square_Triangles__D4.html">these instructions</a> to assemble.</p>

    <p>New to quilting? Check out the Sew Delicious <a href="http://sewdelicious.com.au/2012/09/quilting-for-beginners.html">quilting tutorial for beginners</a>.</p>
  </div>
</div>


